* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E0FBFC;
    color: #3D5A80;
}

header {
    width: 100%;
    height: 80px;
    background-color: #293241;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.logomarca {
    width: 180;
    height: 56px;
    margin-left: 20px;
}

.menuPrincipal ul li {
    display: inline-block;
}

.menuPrincipal ul li a {
    display: block;
    width: 130px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    color: #EE6C4D;
    font-size: 22px;
}

.menuPrincipal ul li a:hover {
    background-color: #3D5A80;
}

.view {
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
}

.container-inicio {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    position: relative;
}

.fraseEfeito {
    font-family: 'Courgette', cursive;
    font-size: 80px;
}

.logoDog {
    width: 320px;
}

.fraseEfeitoInferior {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 35px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    color: #EE6C4D;
}

.tituloSecao {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 40px 0 30px 0;
}

.container-servicos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tipoServico {
    width: 270px;
    height: 400px;
    border: 3px #293241 solid;
    margin: 0 20px 20px 0;
    border-radius: 10px;
    background-color: #293241;
}

.tipoServico h2 {
    background-color: #293241;
    color: #EE6C4D;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: 500;

}

.imgServico {
    width: 100%;
}

.tipoServico p {
    padding: 12px;
    font-size: 17px;
    text-align: center;
    color: #E0FBFC;

}

.container-regras {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.container-regras {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 700px;
}

.container-regras h3 {
    margin: 5px 0;
}

ul, ol {
    list-style-position: inside;
}

li {
    margin-left: 25px;
}