* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E0FBFC;
    color: #3D5A80;
}

header {
    width: 100%;
    height: 80px;
    background-color: #293241;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.logomarca {
    width: 180;
    height: 56px;
    margin-left: 20px;
}

.menuPrincipal {
    position: absolute;
    right: 0;
    
}

.menuPrincipal ul li {
    display: inline-block;
}

.menuPrincipal ul li a {
    display: block;
    width: 130px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    color: #EE6C4D;
    font-size: 22px;
}

.menuPrincipal ul li a:hover {
    background-color: #3D5A80;
}

.container {
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    position: relative;
}

.fraseEfeito {
    font-family: 'Courgette', cursive;
    font-size: 80px;
}

.logoDog {
    width: 320px;
}

.fraseEfeitoInferior {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 35px;
    position: absolute;
    bottom: 30px;
    width: 100%;
}